<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThaiD | ยืนยันตัวตน</title>
</head>
<body>
<h1></h1>
<p>ปิดหน้านี้ทันที</p>
<p>หรือรอ <span id="show-time"></span> วินาที</p>
<script>
    <!--       javascript for auto close this windows for 10 sec and show count down in tag p id show-time -->
    let time = 10;
    let showTime = document.getElementById('show-time');
    showTime.innerHTML = time;
    let interval = setInterval(() => {
        time--;
        showTime.innerHTML = time;
        if (time === 0) {
            clearInterval(interval);
            window.close();
        }
    }, 1000);

</script>
</body>
</html>
